---
layout: default
title: Blog
---

<h1>Blog</h1>

{% for tag in site.tags %}
  {% if tag[0] == 'English' %}
    {% for post in tag[1] %}
      {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% if currentyear != year %}
        <h2 class="archive-year">{{ currentyear }}</h2>
        {% capture year %}{{ currentyear }}{% endcapture %}
      {% endif %}
      <div class="archive-item">
        <span class="post-date archive-date">{{ post.date | date_to_string }}</span>
        <a class="archive-title" href="{{ post.url }}">{{ post.title }}</a>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
