// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  // Styles stole from http://markdotto.com/projects/

  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5em;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: .5rem;
    }
  }
}

.masthead-title {
  margin-top: 0;
  color: #505050;

  a {
    color: #505050;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}
